@model TN.ViewModels.Common.PagedResult<TN.Data.Entities.Question>

@{
    ViewData["Title"] = "Câu hỏi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Câu hỏi</h3>


@if (Model != null)
{
    <div class="d-sm-flex mb-4">
        <!-- Topbar Search -->
        <form asp-action="Index" method="get" class="mr-sm-auto d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="keyword" type="text" class="form-control bg-light border-info small" placeholder="Tìm kiếm câu hỏi..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nội dung câu hỏi
                </th>
                <th>
                    Tên bài thi
                </th>
                <th>
                    Số thứ tự trong bài thi
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="align-middle">
                        <input onclick="addToSelected(@item.ID, this)" type="checkbox" value="" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.QuesContent)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Exam.ExamName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.STT)
                    </td>
                    <td class="align-middle">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-4">
            <button class="btn btn-danger mb-5" data-toggle="modal" data-target="#deleteManyModal">Xoá các mục đã chọn</button>
        </div>
        <div class="col-auto">
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
    
    <div class="modal fade" id="deleteManyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn muốn xoá các mục đã chọn?<p class="text-danger" id="warning"></p></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                    <form class="form-inline">
                        <button type="button" onclick="postToDelete()" class="btn btn-primary">Xoá</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <p>@ViewData["msg"]</p>
}
@section Scripts
{
    <script>
        let s = []
        var msgTxt = document.getElementById("warning");
        function addToSelected(id, checkbox) {
            if (!checkbox.checked) {
                removeFromSelected(id);
            }
            else {
                s.push(id)
                msgTxt.textContent = "";
            }
        }
        function removeFromSelected(uid) {
            s.forEach(function (value, index) {
                console.log(index + "" + value);
                if (value == uid) {
                    s.splice(index, 1);
                }
            })
        }
        function postToDelete() {
            if (s != null && s.length < 1) {
                msgTxt.textContent = "Chưa chọn mục nào";
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "Questions/DeleteMany/",
                    contentType: 'application/json',
                    data: JSON.stringify(s),
                    success: function (res) {
                        if (res.deleteResult == true)
                            console.log('Deleted');
                        else
                            console.log('None');
                        window.location.reload();
                    }
                });
            }
        }
    </script>
}

