@model TN.ViewModels.Catalog.User.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Change Password</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                                    </div>
                                    <form class="user" asp-action="ChangePassword" asp-controller="Account" method="post">
                                        <div class="form-group">
                                            <label for="myPass1">Current Password</label>
                                            <input id="myPass1" type="password" asp-for="@Model.CurrentPassword" class="form-control form-control-user">
                                            <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="myPass2">New Password</label>
                                            <input id="myPass2" type="password" asp-for="@Model.NewPassword" class="form-control form-control-user">
                                            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="myPass3">Confirm new password</label>
                                            <input id="myPass3" type="password" asp-for="@Model.ConfirmNewPassword" class="form-control form-control-user">
                                            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" onclick="showPass(this)"> Show all
                                        </div>
                                        <span class="text-center text-danger">@ViewData["msg"]</span>
                                        @if ((bool)ViewData["success"] == true)
                                        {
                                            <a class="btn btn-primary btn-user btn-block" asp-controller="Account" asp-action="Login">Back to login</a>
                                        }
                                        else
                                        {
                                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Confirm" />
                                        }

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script>
        function showPass(chck) {
            var x = document.getElementById("myPass1");
            var y = document.getElementById("myPass2");
            var z = document.getElementById("myPass3");
            if (chck.checked) {
                x.type = "text";
                y.type = "text";
                z.type = "text";
            }
            else {
                x.type = "password";
                y.type = "password";
                z.type = "password";
            }
        }
    </script>
</body>

</html>