@model TN.ViewModels.Catalog.User.UserViewModel

@{
    ViewData["Title"] = "Profile";
    if (User.IsInRole("admin"))
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<h1>Thông tin tài khoản</h1>
<hr />
<div class="row">
    <div class="col-auto">
        <img style="width:200px; height:200px; object-fit:cover" class="rounded-circle float-left" src="@Global.Avatar_Url" />
    </div>
    <div class="col">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    Tên tài khoản:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col-sm-4">
                    Họ tên:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    Ngày sinh:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DoB)
                </dd>
                <dt class="col-sm-4">
                    Trạng thái tài khoản:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.isActive)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    Số điện thoại:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a>
            <a class="btn btn-link" asp-controller="Account" asp-action="UpdateProfile" asp-route-id="@Model.Id">Cập nhật</a>
            <button type="button" class="btn btn-link" onclick="window.history.back()">Trở về</button>
        </div>
    </div>
</div>


