@model TN.ViewModels.Common.PagedResult<TN.ViewModels.Catalog.User.UserViewModel>
@using TN.ViewModels.Catalog.User;

@{
    ViewData["Title"] = "Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    UserInfo currentUser = (UserInfo)ViewBag.User;
}

<h3>Người dùng</h3>


<div class="d-sm-flex mb-2">
    <!-- Topbar Search -->
    <p>
        <a asp-action="Create">Tạo mới</a>
    </p>
    <form asp-action="Index" method="get" class="ml-sm-auto d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input name="keyword" type="text" class="form-control bg-light border-info small" placeholder="Tìm kiếm người dùng..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="align-middle">
                    <img class="img-profile rounded-circle" style="width: 50px; height: 50px; object-fit: cover" loading="lazy" src="@item.AvatarURL"/>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="align-middle">
                    @if (item.isActive)
                    {
                        @if (item.Id == currentUser.UserId)
                        {
                            <button disabled id="status-@item.Id" type="button" class="btn btn-block btn-success">Hoạt động</button>
                        }
                        else
                        {
                            <button id="status-@item.Id" onclick="LockAccount(@item.Id)" type="button" class="btn btn-block btn-success">Hoạt động</button>
                        }
                    }
                    @if (item.isActive == false)
                    {
                        @if (item.Id == currentUser.UserId)
                        {
                            <button disabled id="status-@item.Id" type="button" class="btn btn-block btn-danger">Đã khoá</button>
                        }
                        else
                        {
                            <button id="status-@item.Id" onclick="RestoreAccount(@item.Id)" type="button" class="btn btn-block btn-danger">Đã khoá</button>
                        }
                    }
                </td>
                <td class="align-middle">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", Model)

@section Scripts
{
    <script>
        function LockAccount(id) {
            $.ajax({
                type: "POST",
                url: "users/LockUser/" + id,
                success: function (res) {
                    if (res.statusChanged) {
                        location.reload();
                    }
                    else {
                        console.log("Lock failed");
                    }
                }
            });
        };
        function RestoreAccount(id) {
            $.ajax({
                type: "POST",
                url: "users/RestoreUser/" + id,
                success: function (res) {
                    if (res.statusChanged) {
                        location.reload();
                    }
                    else {
                        console.log("Unlock failed");
                    }
                }
            });
        };
    </script>
}

