@model TN.ViewModels.Common.PagedResult<TN.ViewModels.Catalog.User.UserViewModel>

@{
    ViewData["Title"] = "Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Thêm người dùng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                ID
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <img class="img-profile rounded-circle" style="width: 50px; height: 50px; object-fit: cover" loading="lazy" src="@item.Avatar"/>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="align-middle">
                    @if (item.isActive)
                    {
                        <button id="status-@item.Id" onclick="LockAccount(@item.Id)" type="button" class="btn btn-block btn-success">Hoạt động</button>
                    }
                    else
                    {
                        <button id="status-@item.Id" onclick="RestoreAccount(@item.Id)" type="button" class="btn btn-block btn-danger">Đã khoá</button>
                    }
                </td>
                <td class="align-middle">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", Model)

@section Scripts
{
    <script>
        function LockAccount(id) {
            $.ajax({
                type: "POST",
                url: "users/LockUser/" + id,
                success: function (res) {
                    if (res.statusChanged) {
                        location.reload();
                    }
                    else {
                        console.log("Lock failed");
                    }
                }
            });
        };
        function RestoreAccount(id) {
            $.ajax({
                type: "POST",
                url: "users/RestoreUser/" + id,
                success: function (res) {
                    if (res.statusChanged) {
                        location.reload();
                    }
                    else {
                        console.log("Unlock failed");
                    }
                }
            });
        };
    </script>
}

