@model List<TN.Data.Entities.Exam>
@{
    ViewData["Title"] = "Đề thi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["msg"]</h3>

@if (Model != null)
{
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Danh sách bài thi</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên đề thi</th>
                                <th>Ngày tạo</th>
                                <th>Lượt làm bài</th>
                                <th>Thời gian làm bài</th>
                                <th>Số lượng câu hỏi</th>
                                <th>Người đăng</th>
                                <th>Chủ đề</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.ExamName</td>
                                <td>@item.TimeCreated</td>
                                <td>@item.NumOfAttemps</td>
                                @if (item.Time != 0)
                                {
                                    <td>@item.Time</td>
                                }
                                else
                                {
                                    <td>Không giới hạn</td>
                                }
                                <td>@item.Questions.Count</td>
                                <td>@item.Owner.UserName</td>
                                <td>@item.Category.CategoryName</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
}


