@model TN.ViewModels.Common.PagedResult<TN.Data.Entities.Exam>
@{
    ViewData["Title"] = "Đề thi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["msg"]</h3>
<h3>Danh sách bài thi</h3>
@if (Model != null)
{
    <div class="col-lg-12 d-sm-flex mb-2">
        <!-- Topbar Search -->
        <p>
            <a class="btn btn-link" asp-controller="Exams" asp-action="Create">Tạo mới</a>
        </p>
        <form asp-action="Index" method="get" class="ml-sm-auto d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="keyword" type="text" class="form-control bg-light border-info small" placeholder="Tìm kiếm bài thi..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên đề thi</th>
                                <th>Ngày tạo</th>
                                <th>Lượt làm bài</th>
                                <th>Thời gian làm bài (phút)</th>
                                <th>Số lượng câu hỏi</th>
                                <th>Người đăng</th>
                                <th>Chủ đề</th>
                                <th> </th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                            <tr>
                                <td><input onclick="addToSelected(@item.ID, this)" type="checkbox" value="" /></td>
                                <td>@item.ExamName</td>
                                <td>@item.TimeCreated</td>
                                <td>@item.NumOfAttemps</td>
                                @if (item.Time != 0)
                                {
                                    <td>@(item.Time/60)m:@(item.Time%60)s</td>
                                }
                                else
                                {
                                    <td>Không giới hạn</td>
                                }
                                <td>@item.Questions.Where(q => q.isActive == true).ToList().Count</td>
                                <td>@item.Owner.UserName</td>
                                <td>@item.Category.CategoryName</td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                                </td>
                                <td>
                                    <a asp-action="ShowQuestions" asp-route-id="@item.ID">Xem câu hỏi <i class="fa fa-arrow-circle-right"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-4">
                            <button class="btn btn-danger mb-5" data-toggle="modal" data-target="#deleteManyModal">Xoá các mục đã chọn</button>
                        </div>
                        <div class="col-auto">
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteManyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn muốn xoá các bài thi đã chọn?<p class="text-danger" id="warning"></p></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                    <form class="form-inline">
                        <button type="button" onclick="postToDelete()" class="btn btn-primary">Xoá</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var uid = button.data('uid') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('#uidinput').val(uid)
        });
        let s = []
        var msgTxt = document.getElementById("warning");
        function addToSelected(id, checkbox) {
            if (!checkbox.checked) {
                removeFromSelected(id);
            }
            else {
                s.push(id)
                msgTxt.textContent = "";
            }
        }
        function removeFromSelected(uid) {
            s.forEach(function (value, index) {
                console.log(index + "" + value);
                if (value == uid) {
                    s.splice(index, 1);
                }
            })
        }
        function postToDelete() {
            if (s != null && s.length < 1) {
                msgTxt.textContent = "Chưa chọn mục nào";
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "Exams/DeleteMany/",
                    contentType: 'application/json',
                    data: JSON.stringify(s),
                    success: function (res) {
                        if (res.deleteResult == true)
                            console.log('Deleted');
                        else
                            console.log('None');
                        window.location.reload();
                    }
                });
            }
        }
    </script>
}

