@model IEnumerable<TN.Data.Entities.Question>

@{
    ViewData["Title"] = ViewData["examName"];
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h5 class="fashion_taital">@ViewData["msg"]</h5>
@if (Model != null)
{
    <h2 class="fashion_taital">Exam<br />@ViewData["examName"]</h2>
    <hr />
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div>
                        <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Questions" asp-area="User" asp-route-examID="@ViewData["examID"]">New question</a>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Import from excel...</button>
                        <span class="text-danger font-italic">@TempData["ImportMsg"]</span>
                    </div>
                    <table id="dttable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>No.</th>
                                <th>Question</th>
                                <th>Answer A</th>
                                <th>Answer B</th>
                                <th>Answer C</th>
                                <th>Answer D</th>
                                <th>Correct Answer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input onclick="addToSelected(@item.ID, this)" type="checkbox" /></td>
                                    <td>@item.STT</td>
                                    <td>@item.QuesContent</td>
                                    <td>@item.Option1</td>
                                    <td>@item.Option2</td>
                                    <td>@item.Option3</td>
                                    <td>@item.Option4</td>
                                    <td>@item.Answer</td>
                                    <td><a href="#" onclick="openEditForm(@item.ID)" data-toggle="modal" data-target="#updateQuesModal">Edit <i class="fa fa-pencil"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-4">
                            <button class="btn btn-danger mb-5" data-toggle="modal" data-target="#deleteManyModal">Delete all selected</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteManyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sure??</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure to delete selected items ?<p class="text-danger" id="warning"></p></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                    <form class="form-inline">
                        <button type="button" onclick="postToDelete()" class="btn btn-primary">Yes, delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add questions !</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Questions" asp-action="ImportFromFile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Import questions from...</label>
                            <input type="hidden" name="examId" value="@ViewData["examID"]" />
                            <input required type="file" name="file" accept=".xls,.xslx,.xlsx" class="form-control" />
                            <input class="btn btn-primary my-3" type="submit" name="submit" value="Upload" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateQuesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa câu hỏi</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="partial2"></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        function openEditForm(id) {
                console.log(id);
                var route2 = '@Url.Action("Update", "Questions")?ID=' + id;
                $('#partial2').load(route2);
            };
        $(function () {
            $('#btnADD').click(function () {
                var id = $(this).data('exam-id');
                var route = '@Url.Action("Create", "Questions")?examID=' + id;
                $('#partial').load(route);
            });
        });
        $(document).ready(function () {
            $('#dttable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ]
            });
            // This WILL work because we are listening on the 'document',
            // for a click on an element with an ID of #test-element
            $(document).on("click", "#btnSave", function () {
                var form = $(this).parents('.modal').find('form');
                var d = form.serialize();
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44363/User/Questions/Create/?" + d,
                    contentType: 'application/json',
                    data: JSON.stringify(d),
                    success: function (res) {
                        if (res.msg)
                            console.log(res.msg);
                        else
                            console.log('None');
                        window.location.reload();
                    }
                });
            });
            $(document).on("click", "#btnUpdate", function () {
                var form = $(this).parents('.modal').find('form');
                var body = form.serialize();
                console.log(body);
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44363/User/Questions/Update",
                    contentType: 'application/json',
                    data: JSON.stringify(body),
                    success: function (res) {
                        if (res.msg)
                            console.log(res.msg);
                        else
                            console.log('None');
                        window.location.reload();
                    }
                });
            });
        });
    </script>
    <script>
        let s = [];
        var msgTxt = document.getElementById("warning");
        function addToSelected(id, checkbox) {
            if (!checkbox.checked) {
                removeFromSelected(id);
            }
            else {
                s.push(id)
                msgTxt.textContent = "";
            }
        }
        function removeFromSelected(uid) {
            s.forEach(function (value, index) {
                console.log(index + "" + value);
                if (value == uid) {
                    s.splice(index, 1);
                }
            })
        }
        function postToDelete() {
            if (s != null && s.length < 1) {
                msgTxt.textContent = "Select at least one questions";
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44363/User/Questions/DeleteMany/",
                    contentType: 'application/json',
                    data: JSON.stringify(s),
                    success: function (res) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
}